<footer class="footer-section">
  <div class="footer-container">
    <div class="sekat"></div>    
    <div class="footer-bagian-kiri">
      <div class="footer-img-container">
        <div class="footer-img-box"><img src="images/logo_unsoed.png" class="footer-img"/></div>
        <div class="footer-img-box"><img src="images/logo_itc_bordered.png" class="footer-img"/></div>
        <div class="footer-img-box"><img src="images/logo_kabinet.png" class="footer-img"/></div>      
      </div>
      <div class="footer-isi">
        <div><a>Universitas Jenderal Soedirman</a></div>
        <div><a>Fakultas Matematika dan Ilmu Pengetahuan Alam</a></div>
        <div><a>UKM Information Technology Communication</a></div>
        <div><a>Kabinet (coming soon)</a></div>
      </div>
    </div>
    <div class="sekat"></div> 
    <div class="footer-medsos">
      <div class="footer-icon-container">          
        <a href="https://www.instagram.com/itcmipaunsoed/" class="footer-icon instagram">
          <i class="bi bi-instagram"></i>
          <span class="icon-text">@itcmipaunsoed</span>
        </a>
        <a href="https://www.tiktok.com/@itcmipaunsoed" class="footer-icon tiktok">
          <i class="bi bi-tiktok"></i>
          <span class="icon-text">@itcmipaunsoed</span>
        </a>          
        <a href="https://x.com/itc_mipaunsoed" class="footer-icon twitter">
          <i class="bi bi-twitter-x"></i>
          <span class="icon-text">@itcmipaunsoed</span>
        </a>
        <a href="https://www.threads.com/@itcmipaunsoed" class="footer-icon threads">
          <i class="bi bi-threads"></i>
          <span class="icon-text">@itcmipaunsoed</span>
        </a>
        <a href="https://www.linkedin.com/company/ukm-itc-mipa-unsoed" class="footer-icon linkedin">
          <i class="bi bi-linkedin"></i>
          <span class="icon-text">UKM ITC MIPA UNSOED</span>
        </a>
        <a href="https://www.youtube.com/@itcmipaunsoed5314" class="footer-icon youtube">
          <i class="bi bi-youtube"></i>
          <span class="icon-text">@itcmipaunsoed5314</span>
        </a>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <p>
        &copy; <span id="displayYear"></span> 2026 All Rights Reserved By <a href="kabinet#divisi_teknologi" class="text-white fw-semibold" style="text-decoration: none; font-weight: bold;">Divisi Teknologi</a>
      </p>    
    </div>
</footer>