<% css = '<link rel="stylesheet" href="/css/history.css">' %>


<main class="history">
  <section class="history-container">

    <div class="history-slider">
    <div class="history-track">
        <% images.forEach(img => { %>
        <div class="history-slide">
            <img src="/images/history/<%= img %>" alt="History Image">
        </div>
        <% }) %>
    </div>
    </div>    

    <header class="history-header">
      <h1>Sejarah ITC MIPA Unsoed</h1>
    </header>

    <article class="history-content">

      <p>
        UKM ITC MIPA UNSOED merupakan sebuah unit kegiatan mahasiswa yang bergerak di bidang Ilmu Pengetahuan dan Teknologi (IPTEK). Perkembangan jaman yang begitu pesat mendorong adanya kemajuan dibidang ilmu pengetahuan dan teknologi. Perkembangan jaman yang semakin maju menuntut mahasiswa terus mengikuti perkembangan teknologi yang semakin canggih. Kemajuan teknologi juga mendorong mahasiswa-mahasiswa khususnya mahasiswa MIPA Unsoed untuk turut serta dalam usaha mengembangkan teknologi dalam lingkungan kampus.

        Perjuangan beberapa mahasiswa yang senantiasa tertarik dengan teknologi informasi dan komunkasi dan gemar dengan bidang komputer akhirnya membuahkan hasil. Dorongan untuk membentuk sebuah organisasi berbasis ilmu pengetahuan dan teknologi khususnya yang berhubungan dengan teknologi, informasi, dan komunikasi akhirnya terbentuk dengan adanya koordinasi dengan BEM kala itu. 20 Juni 2006 merupakan sebuah awal dari perjalan sebuah organisasi berbasis ilmu pengetahuan dan teknologi di fakultas MIPA (yang saat itu masih bernama Program Sarjana MIPA). Organisasi ini berbentuk suatu komunitas dengan nama ”ITC Community” . Sebagai ketua pertama yang dipercaya memimpin ITC Community yaitu saudara Riyadi (Kimia 2003).
      </p>

      <p>
        ITC Community merupakan sebuah organisasi yang bergerak dalam bidang Teknologi, Informasi, dan Komunikasi yang berada di kampus MIPA Unsoed. Organisasi ini masih merupakan sebuah komunitas mahasiswa-mahasiswa yang tertarik dan hobbi tentang ilmu-ilmu komputer atau yang berhubungan dengannya. Hingga akhirnya pada tanggal 21 April 2007 dengan bantuan saudara Anan yang saat itu menjabat sebagai Presiden BEM, Organisasi ini secara resmi diubah dari sebuah komunitas menjadi sebuah Unit Kegiatan Mahasiswa. Nama organisasi ini pun mengalami perubahan. Organisasi ini secara resmi dirubah dari ITC Community menjadi UKM ITC MIPA Unsoed yaitu Unit Kegiatan Mahasiswa Information Technology Communication di kampus MIPA Unsoed. Perjuangan untuk terus mengembangkan UKM ITC MIPA Unsoed yang lebih baik terus dilakukan demi kampus MIPA yang lebih baik. Berikut nama-nama ketua umum UKM ITC MIPA Unsoed :
      </p>

      <section class="history-leaders">
        <ol>
          <li>Hedi Harsono (Matematika 2004)</li>
          <li>Eko Syarif Hidayatullah (Fisika 2005)</li>
          <li>Sigit Satria Raharja (Matematika 2007)</li>
          <li>Firman Dwi Jayanto (Kimia 2008)</li>
          <li>Hanif Nur Amrullah (Teknik Informatika 2009)</li>
          <li>M. Alwani Mikzam M. (Teknik Informatika 2010)</li>
          <li>Aflah Nurcholis (Fisika 2012)</li>
          <li>Alifhar Juliansyah (Matematika 2013)</li>
          <li>M. Rasyid Arba (Matematika 2014)</li>
          <li>Achmad Chuseni (Matematika 2015)</li>
          <li>Muhammad Surya Lesmana (Matematika 2016)</li>
          <li>Sari Paramita (Kimia 2016)</li>
          <li>Annajmi Sania Mubarak (Matematika 2017)</li>
          <li>Inna Rizmawati (Fisika 2018)</li>
          <li>Widha Permata Wihasti (Fisika 2019)</li>
          <li>Hilman Adjie (Matematika 2020)</li>
          <li>Gilang Axtria Mukti (Matematika 2021)</li>
          <li>Ihsan Farhan Maulana (Matematika 2022)</li>
          <li>Fadhilah Aulia Zulfa (Fisika 2023)</li>
          <li>Muhammad Rafi Abdillah (Statistika 2024)</li>
        </ol>
      </section>

    </article>

  </section>
</main>