<% css = '<link rel="stylesheet" href="/css/kabinet.css">' %>

<div class="kab-main-container">

  <div class="kab-main">
    <header class="judul-utama">
      <h2 class="judul-utama1" id="kabinet-nexabyte">KABINET NEXABYTE</h2>
      <h2 class="judul-utama2">UKM ITC MIPA UNSOED</h2>
    </header>

    <section class="kabinet-section" id="ketua-wakil-ketua">
      <h3 class="section-title">Ketua Umum & Wakil Ketua Umum</h3>
      <div class="position-group">
        <div class="position-row">
          <div class="position-item" data-aos="fade-up">
            <div class="structure-card">
              <a href="/divisi#ketua" class="card-link">
                <img src="images/divisi/ITCcard_Ketum.jpg" alt="Ketua Umum" class="card-img">
              </a>
            </div>
            <span class="nama">Fadhilah Aulia Zulfa</span>
            <span class="jabatan">Ketua Umum</span>
          </div>
          <div class="position-item" data-aos="fade-up">
            <div class="structure-card">
              <a href="/divisi#wakil_ketua" class="card-link">
                <img src="images/divisi/ITCcard_WaKetum.jpg" alt="Wakil Ketua" class="card-img">
              </a>
            </div>
            <span class="nama">Maya Ariyanti</span>
            <span class="jabatan">Wakil Ketua Umum</span>
          </div>
        </div>
      </div>
    </section>

		<section class="kabinet-section" id="sekretaris-bendahara">
			<h3 class="section-title">Sekretaris & Bendahara</h3>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#sekretaris" class="card-link">
								<img src="images/divisi/ITCcard_divsekre_kadiv.jpg" alt="Sekretaris Umum" class="card-img">
							</a>
						</div>
						<span class="nama">Endang Suhendar</span>
						<span class="jabatan">Sekretaris Umum</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#sekretaris" class="card-link">
								<img src="images/divisi/ITCcard_divsekre_staff1.jpg" alt="Staff Sekretaris" class="card-img">
							</a>
						</div>
						<span class="nama">Nabila Farda Syandita</span>
						<span class="jabatan">Staff Sekretaris</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#sekretaris" class="card-link">
								<img src="images/divisi/ITCcard_divsekre_staff2.jpg" alt="Staff Sekretaris" class="card-img">
							</a>
						</div>
						<span class="nama">M Farhan Al-Fajri</span>
						<span class="jabatan">Staff Sekretaris</span>
					</div>
				</div>
			</div>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#bendahara" class="card-link">
								<img src="images/divisi/ITCcard_divbendhr_kadiv.jpg" alt="Bendahara Umum" class="card-img">
							</a>
						</div>
						<span class="nama">Hanna Salsabila A</span>
						<span class="jabatan">Bendahara Umum</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#bendahara" class="card-link">
								<img src="images/divisi/ITCcard_divbendhr_staff1.jpg" alt="Staff Bendahara" class="card-img">
							</a>
						</div>
						<span class="nama">Akbar Firmansyah P A</span>
						<span class="jabatan">Staff Bendahara</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#bendahara" class="card-link">
								<img src="images/divisi/ITCcard_divbendhr_staff2.jpg" alt="Staff Bendahara" class="card-img">
							</a>
						</div>
						<span class="nama">Alexandra Andini</span>
						<span class="jabatan">Staff Bendahara</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#bendahara" class="card-link">
								<img src="images/divisi/ITCcard_divbendhr_staff3.jpg" alt="Staff Bendahara" class="card-img">
							</a>
						</div>
						<span class="nama">Naesa Deya K</span>
						<span class="jabatan">Staff Bendahara</span>
					</div>
				</div>
			</div>
		</section>

		<section class="kabinet-section" id="divisi_informasi">
			<h3 class="section-title">Divisi Informasi</h3>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_kadiv.jpg" alt="Kadiv Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Murni Rahayu</span>
						<span class="jabatan">Kadiv Informasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff1.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Khansa Zelda A</span>
						<span class="jabatan">Staff Informasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff2.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Destyna Azahra S</span>
						<span class="jabatan">Staff Informasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff3.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Tegar Nur Fahrenza</span>
						<span class="jabatan">Staff Informasi</span>
					</div>
				</div>
			</div>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff4.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Maharani Hantrini</span>
						<span class="jabatan">Staff Informasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff5.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Naila Fauziyah</span>
						<span class="jabatan">Staff Informasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff6.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Sheva M Gibran</span>
						<span class="jabatan">Staff Informasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_informasi" class="card-link">
								<img src="images/divisi/ITCcard_divinfor_staff7.jpg" alt="Staff Informasi" class="card-img">
							</a>
						</div>
						<span class="nama">Yulia Fitriani</span>
						<span class="jabatan">Staff Informasi</span>
					</div>
				</div>
			</div>
		</section>

		<section class="kabinet-section" id="divisi_teknologi">
			<h3 class="section-title">Divisi Teknologi</h3>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_kadiv.jpg" alt="Kadiv Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Sandy Aditya A P</span>
						<span class="jabatan">Kadiv Teknologi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff1.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Daffa Haiban Muzakki</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff2.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Dawwas Fatan Azzam</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff3.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Flora Amanda Putri</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>
				</div>
			</div>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff4.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Hanis Firgiansyah</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff5.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Mahesa Panansang M</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff6.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Maisya Nabila</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_teknologi" class="card-link">
								<img src="images/divisi/ITCcard_divtekno_staff7.jpg" alt="Staff Teknologi" class="card-img">
							</a>
						</div>
						<span class="nama">Ratri Anjani</span>
						<span class="jabatan">Staff Teknologi</span>
					</div>
				</div>
			</div>
		</section>

		<section class="kabinet-section" id="divisi_komunikasi">
			<h3 class="section-title">Divisi Komunikasi</h3>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_kadiv.jpg" alt="Kadiv Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Rahma Cintya Putri</span>
						<span class="jabatan">Kadiv Komunikasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff1.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Ahnafia Zaneta P W</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff2.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Shohwatul Aisy M</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff3.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Amalia Nurkhikmah</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>
				</div>
			</div>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff4.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Hening Miranti W</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff5.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Farhan Raudatul J</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff6.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">Nabila Alifatul H</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_komunikasi" class="card-link">
								<img src="images/divisi/ITCcard_divkomun_staff7.jpg" alt="Staff Komunikasi" class="card-img">
							</a>
						</div>
						<span class="nama">M Rafi Abdillah</span>
						<span class="jabatan">Staff Komunikasi</span>
					</div>
				</div>
			</div>
		</section>

		<section class="kabinet-section" id="divisi_pengembangan">
			<h3 class="section-title">Divisi Pengembangan</h3>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_kadiv.jpg" alt="Kadiv Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Anna Ramandhani</span>
						<span class="jabatan">Kadiv Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff1.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Nabila Alsa Haryanto</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff2.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Maldini Meida</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff3.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Fauzia Nur Nafsan Z</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>
				</div>
			</div>

			<div class="position-group">
				<div class="position-row">
					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff4.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Galih Tri Prasetyo</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff5.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Ikhlasul Amal</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff6.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Zakiyah Dwi Yuliana</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff7.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Kamila Rahma</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>

					<div class="position-item" data-aos="fade-up">
						<div class="structure-card">
							<a href="/divisi#divisi_pengembangan" class="card-link">
								<img src="images/divisi/ITCcard_divpengmbngn_staff8.jpg" alt="Staff Pengembangan" class="card-img">
							</a>
						</div>
						<span class="nama">Dian Prasetiyo R</span>
						<span class="jabatan">Staff Pengembangan</span>
					</div>
				</div>
			</div>
		</section>

  </div>
</div>